body {
  background-color: lightblue;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-table {
  width: 100%;
  padding: 20px;
  max-width: 400px;
  perspective: 600px;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 3;
}

.card {
  width: 65px;
  margin: auto;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card__face--front {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img,
.card svg {
  width: 30px;
  display: block;
}
